/*==========  Desktop First  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 768px){
.container{
width: 320px;
    }
    .header{
        width: 320px;
    }
.logo {
    width: 150px;
}
.hero__title {
    font-size: 30px;
    margin-left: 20px;
    margin-top: -217px;
}
.icons {
    width: 40px;
    height: 40px;
}
.circle{
    width: 50px;
    height: 55px;
}
.hero__btn {
    width: 110px;
    height: 50px;
}
.hero{
    width: 320px;
}
.job {
    width: 320px;
    height: 570px;
}

.services {
    height: 750px;
    width: 320px;
}
.services__information {
    width: 320px;
}
.price{
    width: 320px;
    height: 900px ;
}
.table__price {
    background-color: #91c5e771;
    height: 320px;
    width: 320px;
}
.table__one{
    width: 320px;
    border-spacing: 1px;
}
.price__logo {
    display: flex;
    width: 320px;
}
.price__inner {
    display: flex;
    flex-wrap: wrap;
}
.price__title {
    font-size: 20px;
    text-align: start;
}
.information {
    width: 320px;
    height: 110px;
}
.banner__title {
    text-align: center;
    font-size: 18px;
}
.banner__img{
    width: 320px;
    height: 60px;
}
.magazine{
    width: 320px;
    height: 810px;
}
.magazine__container{
    width: 320px;
    height: 810px;
}
.magazine__inner {
    display: flex;
    flex-wrap: wrap;
}
.magazine__title {
    font-size: 30px;
}
.location{
    width: 320px;
    height: 760px;
}
.location__inner{
    display: flex;
    flex-wrap: wrap;
}
.location__title{
    font-size: 20px;
}
.chat{
    width: 320px;
    height: 1000px;
}
.header__link{
    display: none;
}
.social__ul{
    display: none;
}
.chat__information {
    width: 320px;
}
.services__text {
    font-size: 15px;
}
.chat__text {
    font-size: 15px;
}
.footer{
    width: 320px;
}
}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/